[Unit]
Description=Gerrit Server
After=network.target

[Service]
ExecStart=/home/gerrit/gerrit_site/bin/gerrit.sh start
ExecReload=/home/gerrit/gerrit_site/bin/gerrit.sh restart
ExecStop=/home/gerrit/gerrit_site/bin/gerrit.sh stop
Environment=GERRIT_SITE=/home/gerrit/gerrit_site
Restart=always
User=gerrit

[Install]
WantedBy=multi-user.target
